@import url(https://fonts.googleapis.com/css?family=Poiret+One);
html {
  font-family: "Poiret One", cursive;
  text-align: center;
}

h1 {
  font-family: "Poiret One", cursive;
  color: #d4ae0c;
}

.align {
  font-size: 7em;
}
