@import url(https://fonts.googleapis.com/css?family=Poiret+One);
html {
  font-family: "Poiret", sans-serif;
}

h1 {
  font-family: "Poiret", sans-serif;
  color: #d4ae0c;
}

.icon-cat-dingbats-08 {
  font-size: 7em;
  padding-top: 3em;
}
