@import url(https://fonts.googleapis.com/css?family=Poiret+One);
html {
  font-family: "Poiret", sans-serif;
}

h1 {
  font-family: "Poiret", sans-serif;
  color: #d4ae0c;
}

.align {
  font-size: 7em;
}
